/* Styles on all pages, including seamless loading */
body {
    --accent-color-1: #2EC4B6;
    --accent-color-1-darker: #1b5e58;
    --accent-color-1-transparent: #2EC4B644;
    --accent-color-1-darkest: #194d47;
    --accent-color-2: #20A4F3;
    --accent-color-2-darker: #105276;
    --accent-color-2-transparent: #20A4F344;
    /* Subordinate */
    --accent-color-3: #FF3366;
    --accent-color-3-lighter: #ff668c;
    --accent-color-3-transparent: #FF336644;

    --black: #011627;
    --black-transparent: #01162744;
    --white: #F6F7F8;
    --grey: #787779;

    --accent: var(--accent-color-2);
    --accent-darker: var(--accent-color-2-darker);
}

/* Prevent "overscrolling" */
html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 8px;
    border: 0;
    background-color: black;
}
* {
    font-family: 'Noto Sans', sans-serif;
}
main body, main p:not(.profile p), main h1, main h2, main h3, main h4, main h5, main h6, main ul {
    color: var(--white);
    padding: 10px;
}
h1 {
    text-align: center;
}

section.settings {
    columns: 1;
}
@media screen and (min-width: 1000px) {
    section.settings {
        columns: 2;
    }
}
@media screen and (min-width: 1500px) {
    section.settings {
        columns: 3;
    }
}

form div, div.form-div {
    max-width: 500px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--white);
    margin-left: auto;
    margin-right: auto;

    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

input, select, button {
    background-color: var(--accent-darker);
    color: var(--white);
    border: 0;
    font-size: 150%;
    margin: 5px;
    border-radius: 5px;
}
input:disabled, input:disabled:hover, input:disabled:focus {
    background-color: var(--black)!important;
    color: var(--grey)!important;
    cursor: not-allowed;
}
input:focus {
    background-color: var(--accent-color-2-transparent);
}

a {
    color: var(--accent-color-2);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

header {
    z-index: 1;
    position: fixed;

    top: 0;
    left: 0;
    padding-top: 250px; /* So space for hgroup */
    padding-left: 10px;
    overflow-y: auto;

    width: 100%; /* if screen small */
    height: 100%;

    background-color: var(--black-transparent);
    backdrop-filter: blur(20px);
}

nav {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;

    width: calc(100% - 32px);
}

nav h1 {
    padding: 16px;
}

main, hgroup {
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: var(--black);
    border-radius: 5px;
}
hgroup {
    z-index: 3;
    position: sticky;
    top: 10px;

    max-height: 200px;
    overflow: auto;

    background-color: var(--accent-color-1-transparent);
    backdrop-filter: blur(50px);
}

hgroup h1 {
    color: var(--white);
}

search {
    display: block;
    text-align: center;
}

search label {
    display: inline-block;

    width: min-content;
    white-space: nowrap;
    overflow: visible;
    text-align: center;

    font-size: 15px;
    color: var(--white);
}

search select, search button, search input {
    text-align: center;
}

.search-disabled search {
    display: none;
}

#day-preview-label {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#day-preview-container {
    display: flex;

    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--white);
    background-color: black;

    flex-flow: row nowrap;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}
#goto_prevday, #goto_nextday {
    display: none;
}
@media screen and (max-width: 1050px) {
    #day-preview-label, #goto_prevmonth, #goto_nextmonth {
        display: none;
    }
    #goto_prevday, #goto_nextday {
        display: inline-block;
    }
}
.day-preview img {
    height: 20px;
    width: 100px;

    image-rendering: pixelated;

    cursor: pointer;
}
#day-preview-container:not(:hover) .day-preview.today img, #day-preview-container .day-preview:hover img {
    filter: hue-rotate(180deg);
}

header:not(.open) {
    display: none;
}
@media screen and (min-width: 500px) {
    hgroup h1 {
        display: none;
    }
    header {
        width: 200px;
        padding-top: 10px;
    }
    header:not(.open) {
        display: block;
    }
    #toggle_header {
        display: none;
    }

    main, hgroup {
        margin-left: 210px;
    }

    hgroup {
        max-height: unset;
    }

    hgroup.search-disabled {
        display: none;
    }
}

.profile-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
a.profile.small:hover {
    background-color: var(--accent-darker);
}

.profile {
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;

    display: inline-block;
}

.profile.large, .profile.large * {
    cursor: pointer;
}

.profile.large, nav a, nav h1 {
    margin: 8px;
    border-radius: 5px;
    color: var(--white);
}

nav h1 {
    background: var(--accent-color-1-transparent);
    outline: 1px solid var(--accent-color-1);
}
.profile.large, nav a {
    background: var(--accent-color-2-transparent);
    outline: 1px solid var(--accent-color-2);
}
nav a:nth-of-type(odd) {
    background: var(--accent-color-3-transparent);
    --accent: var(--accent-color-3);
    --accent-darker: var(--accent-color-3-darker);

    outline: 1px solid var(--accent-color-3);
}
.profile.large {
    width: calc(100% - 48px);
}
.profile.small {
    width: 100%;
    max-width: 200px;
    color: var(--white);
    border-bottom: 1px solid var(--grey);
}
.profile p {
    margin: 8px;
    margin-top: 4px;
    width: calc(100% - 16px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile.large p {
    font-weight: bold;
    font-size: 120%;
}
.profile.small p {
    font-size: 100%;
}
.profile img {
    margin: 8px;
    border-radius: 50%;
    outline: 4px solid black;
    width: calc(100% - 16px);
}
.profile.large img {
    max-width: 100px;
}
.profile.small img {
    max-width: 50px;
}
nav a, .profile a, .profile button, .profile input[type=submit], form input[type=submit]:not(p input) {
    display: block;
    text-decoration: none;
    font-weight: bold;

    white-space: normal;

    padding: 16px;
    border: 0;
    background-color: var(--accent-color-2-darker);
    color: white;
}
.profile input[type=submit], form input[type=submit]:not(p input) {
    margin-left: auto;
    margin-right: auto;
}
.profile a, .profile button {
    width: calc(100% - 32px);
}
form:not(.profile.large.loggedout) input[type=submit]:not(p input) {
    margin: 0;
    border-radius: 5px;
    width: calc(100% + 10px);
    transform: translate(-5px, 5px);
    cursor: pointer;
}
nav a:hover, .profile a:hover, .profile button:hover, .profile input[type=submit]:hover, input[type=submit]:hover, button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

/* Seamless progress bar */
#seamless-progress {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    height: 3px;
    width: 100%;
}

body.unloaded main {
    height: 100vh;
}
body.unloaded {
    overflow-y: scroll;
}

#seamless-progress div {
    background-color: var(--accent-color-1);
    height: 100%;
    transition: width 0.5s, opacity 0.2s;

    width: 0;
    opacity: 0;
}

#seamless-progress.halfloaded div {
    width: 50%;
    opacity: 1;
}

#seamless-progress.fullyloaded div {
    width: 100%;
    opacity: 0;
}

.warning {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

    text-align: center;
    font-weight: bold;
    color: var(--accent-color-3-lighter);
    background-color: black;
}

#toggle_header {
    position: fixed;
    top: 10px;
    left: 10px;
}
